@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background-color: #64748b;
  }
  ::-webkit-scrollbar-thumb {
    background: #334155;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #1e293b;
  }
}

@layer components {
  .input {
    @apply appearance-none rounded-xl focus:outline-none focus:ring-2 py-3.5 pr-20 pl-4;
  }
}
